.rounded-left {
  border-radius: 0 10px 10px 0;
}

.rounded-right {
  border-radius: 10px 0 0 10px;
}
.experiences{
    box-shadow: 0 0 0 0.3px #616161;
    background-color: white;
}

.experience{
    margin-right: 230px;
}
.section-1{
    background: linear-gradient(
    to bottom,
    #25b1e9 10%,
    white 100%,
    paleturquoise 0%,
    paleturquoise 0%
  );
}
.map{
  box-shadow: 0 0 0 1px #000000;
}
.footer{
  background-color: #25b1e9;
  height: 50%;
}

.social {
  display: inline-block;
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #25b1e9; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1981aa; 
}
.task-planner {
  position: relative;
  overflow: hidden;
}

.task-planner-image {
  position: relative;
}

.task-planner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.7s ease;
  border-radius: 20px;
}

.task-planner-overlay p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.task-planner:hover .task-planner-overlay {
  opacity: 1;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translatex(-100%);
  transition: ease-in-out 1.5s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translatex(0);
}




.task:nth-child(2){
  transition-delay: 200ms;
}

.task:nth-child(3){
  transition-delay: 400ms;
}

.skills{
  transition-delay: 200ms;
}

