.rounded-left {
  border-radius: 0 10px 10px 0;
}

.rounded-right {
  border-radius: 10px 0 0 10px;
}
.experiences{
    box-shadow: 0 0 0 0.3px #616161;
    background-color: white;
}

.experience{
    margin-right: 230px;
}
.section-1{
    background: linear-gradient(
    to bottom,
    #25b1e9 10%,
    white 100%,
    paleturquoise 0%,
    paleturquoise 0%
  );
}
.map{
  box-shadow: 0 0 0 1px #000000;
}
.footer{
  background-color: #25b1e9;
  height: 50%;
}

.social {
  display: inline-block;
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #25b1e9; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1981aa; 
}